*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --table-width: 80%;
    --prm-color: #34495E;
    --background-color-dark: #1a2530;
    --background-color-medium: #2C3E50;
    --secondary-color-light: #ECF0F1;
    --prm-color-transparent: #58738e;
    --cta: #E67E22;
    --danger: #E74C3C;
    --disabled: #7F8C8D;
}

.board-side-wrapper {
    width: 100%;
    height: 500px;
    background-color: var(--prm-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.game-details,
.chat-screen {
    height: 90%;
    border-bottom: 3px solid var(--background-color-dark);
    padding: 1rem;
}


.details-buttons {
    height: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color-dark);
}

.details-buttons>button {
    background-color: var(--prm-color);
    width: 49.5%;
    border: none;
    cursor: pointer;
    color: var(--secondary-color-light);
    font-size: 1.2rem;
    font-weight: 400;
}

.game-details-btn {
    border-bottom-left-radius: 10px;
}

.chat-btn {
    border-bottom-right-radius: 10px;
}

.leave-room-btn {
    padding: 0.5rem 3rem;
    background-color: var(--cta);
    border: none;
    color: var(--secondary-color-light);
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 3rem;
}

.move-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--background-color-dark);
    background-color: var(--prm-color);
    color: var(--secondary-color-light);
}


.action-icon {
    width: 2rem;
    height: 2rem;
    filter: invert(99%) sepia(16%) saturate(280%) hue-rotate(167deg) brightness(99%) contrast(91%);
}

.check-icon {
    filter: invert(73%) sepia(11%) saturate(5192%) hue-rotate(348deg) brightness(95%) contrast(101%);
}

.checkmate-icon {
    filter: invert(30%) sepia(54%) saturate(2705%) hue-rotate(344deg) brightness(79%) contrast(88%);
}

.move-piece-icon {
    width: 2rem;
    height: 2rem;
}

.game-details {
    overflow-y: scroll;
}

.game-details::-webkit-scrollbar {
    display: none;
}

.chat-input-wrapper {
    display: flex;
    width: 100%;
}

.chat-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-input-wrapper input {
    padding: 0.5rem;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 90%;
    border: 1px solid var(--background-color-dark)
}

.messages-list {
    overflow-y: scroll;
    height: 90%;
    padding-left: 0;
}

.messages-list::-webkit-scrollbar {
    display: none;
}

.message-item {
    list-style: none;
    padding: 0.3rem;
    color: var(--secondary-color-light);
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--prm-color-transparent);
    min-width: 5rem;
    width: fit-content;
    border-radius: 15px;
    margin-bottom: 7px;
}

.chat-input-wrapper button {
    border: 1px solid var(--background-color-dark);
    background-color: var(--background-color-dark);
    color: white;
    cursor: pointer;
}

.my-turn{
    color:white;
    font-size:1.3rem;
    font-weight: 100;
    text-align: center;
    padding:0.4rem;
    border-top: 3px solid var(--background-color-dark);
  }