*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --table-width: 80%;
  --prm-color: #34495E;
  --background-color-dark: #1a2530;
  --background-color-medium: #2C3E50;
  --secondary-color-light: #ECF0F1;
  --prm-color-transparent: #58738e;
  --cta: #E67E22;
  --danger: #E74C3C;
  --disabled: #7F8C8D;
}

.App {
  display: flex;
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-dark);
  background-size: cover;
}

#chess-table {
  margin: 0.5rem;
  width: 80vh;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  height: 80vh;
  border: 1px solid black;
}

.chess-cell {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dark-chess-cell {
  background-color: var(--prm-color);
}

.piece-img {
  position: absolute;
  height: 70%;
  width: 70%;
}

/*Player details view*/

.player-details {
  display: flex;
  background-color: var(--prm-color);
  justify-content: space-between;
  padding: 0.8rem;
  align-items: center;
  color: white;
}

.captured-pieces-container {
  height: 1.7rem;
}

.captured-piece-icon {
  width: 1.7rem;
}

.board-side-wrapper {
  width: 300px;
  height: 400px;
  background-color: var(--prm-color);
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-bottom: 3px solid var(--background-color-dark);
}

.game-details,
.chat-screen {
  height: 90%;
  border-bottom: 3px solid var(--background-color-dark);
  padding: 1rem;
}


.details-buttons {
  height: 10%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-dark);
}

.details-buttons>button {
  background-color: var(--prm-color);
  width: 49.5%;
  border: none;
  cursor: pointer;
  color: var(--secondary-color-light);
  font-size: 1.2rem;
  font-weight: 400;
}

.game-details-btn {
  border-bottom-left-radius: 10px;
}

.chat-btn {
  border-bottom-right-radius: 10px;
}

.move-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--background-color-dark);
  background-color: var(--prm-color);
  color: var(--secondary-color-light);
}


.action-icon {
  width: 2rem;
  height: 2rem;
  filter: invert(99%) sepia(16%) saturate(280%) hue-rotate(167deg) brightness(99%) contrast(91%);
}

.check-icon {
  filter: invert(73%) sepia(11%) saturate(5192%) hue-rotate(348deg) brightness(95%) contrast(101%);
}

.checkmate-icon {
  filter: invert(30%) sepia(54%) saturate(2705%) hue-rotate(344deg) brightness(79%) contrast(88%);
}

.move-piece-icon {
  width: 2rem;
  height: 2rem;
}

.game-details {
  overflow-y: scroll;
}

.game-details::-webkit-scrollbar {
  display: none;
}

.chat-input-wrapper {
  display: flex;
  width: 100%;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-input-wrapper input {
  padding: 0.5rem;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 90%;
  border: 1px solid var(--background-color-dark)
}

.messages-list {
  overflow-y: scroll;
  height: 90%;
  padding-left: 0;
}

.messages-list::-webkit-scrollbar {
  display: none;
}

.message-item {
  list-style: none;
  padding: 0.3rem;
  color: var(--secondary-color-light);
  font-weight: 500;
  font-size: 1.2rem;
  background-color: var(--prm-color-transparent);
  min-width: 5rem;
  width: fit-content;
  border-radius: 15px;
  margin-bottom: 7px;
}

.chat-input-wrapper button {
  border: 1px solid var(--background-color-dark);
  background-color: var(--background-color-dark);
  color: white;
  cursor: pointer;
}

#requestUsernameView {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.username-input {
  padding: 0.8rem;
  border: 1px solid var(--background-color-dark);
  border-radius: 10px;
  font-size: 1.5rem;
  color: var(--background-color-dark);
}

.username-header {
  margin-bottom: 2rem;
  color: var(--secondary-color-light);
  font-size: 2.5rem;
}

#lobby {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  color: var(--secondary-color-light);
  width: 100vw;
  height: 100vh;

}

.lobby-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--prm-color);
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 2rem;

}

.lobby-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.lobby-desc {
  font-size: 1.3rem;
}

.room-list {
  display: grid;
  width: 85%;
  background-color: var(--background-color-dark);
  border-radius: 15px;
  padding: 2rem;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 20px;

}

.room-card {
  background-color: var(--prm-color);
  width: 200px;
  height: 230px;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-wrap: break-word;
}

.room-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-room-btn {
  padding: 0.5rem;
  border-radius: 10px;
  width: 70%;
  border: none;
  cursor: pointer;
  background-color: var(--cta);
  color: var(--secondary-color-light);
  font-weight: 600;
}

.join-room-btn:hover {
  background-color: #F39C12;
}

.open-editor-btn {
  padding: 0.8rem;
  border-radius: 10px;
  width: 30%;
  border: none;
  cursor: pointer;
  background-color: var(--cta);
  color: var(--secondary-color-light);
  font-weight: 600;
  font-size: 1.3rem;
}

.room-editor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color-dark);
  width: 50%;
  height: 50%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  border-radius: 20px;
}

.lobby-overlay {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--prm-color);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.general-text-input {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.general-text-input input[type=text] {
  padding: 0.4rem;
  width: 70%;
}

.general-text-input label {
  font-size: 1.2rem;
}

.general-radio-input {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  margin-bottom: 1rem;
}

.radio-input-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.general-radio-input label {
  font-size: 1.2rem;
}

.radio-input-container label {
  margin-right: 1rem;
}

.create-room-btn {
  padding: 0.5rem;
  border-radius: 10px;
  width: 30%;
  border: none;
  cursor: pointer;
  background-color: var(--cta);
  color: var(--secondary-color-light);
  font-weight: 600;
  font-size: 1.3rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.input-error {
  color: var(--danger)
}

.lobby-main-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.players-wrapper {
  width: 14%;
  background-color: var(--prm-color);
  border-radius: 10px;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.players-list::-webkit-scrollbar {
  display: none;
}

.players-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
}

.players-list-title {
  border-bottom: 2px solid var(--background-color-dark);
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.player-list-item {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  margin-top: 0.5rem;
}

.username-error {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.connected-tab {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.status-bubble {
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.disabled-btn,
.disabled-btn:hover {
  background-color: var(--disabled);
}