*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --table-width: 80%;
  --prm-color: #34495E;
  --background-color-dark: #1a2530;
  --background-color-medium: #2C3E50;
  --secondary-color-light: #ECF0F1;
  --prm-color-transparent: #58738e;
  --cta: #E67E22;
  --danger: #E74C3C;
  --disabled: #7F8C8D;
}

.App {
  display: flex;
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-dark);
  background-size: cover;
}

#requestUsernameView {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.username-input {
  padding: 0.8rem;
  border: 1px solid var(--background-color-dark);
  border-radius: 10px;
  font-size: 1.5rem;
  color: var(--background-color-dark);
}

.username-header {
  margin-bottom: 2rem;
  color: var(--secondary-color-light);
  font-size: 2.5rem;
}



.username-error {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}



@media (max-width:725px) {
  .general-text-input {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .general-radio-input {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}